.Country {
  text-transform: none;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  margin: 10px 5px;
}

.Country:hover {
  color: blue;
  cursor: pointer;
}
