.CountryList {
  display: flex;
  flex-wrap: wrap;
}

.Сountries {
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  height: 600px;
  width: 30%;
  float: left;
  margin: 0;
}

.CountryInfo {
  width: 53%;
}
